
/*==================== Base style ========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    cursor: url("assets/img/keybord.png"), auto;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1;
    background: url("../img/background.png");
    background-size: auto;
}

header {
    width: 100%;
    height: 100px;
}

main {
    height: 100vh;
    width: 100vw;

}

ul {
    width: 100%;
    height: 50%;
}
ul li {
    list-style: none;
    line-height: 30px;
}

ul li a {
    text-decoration: none;
    font-family: "Press Start 2P";
    font-size: x-large;
    color: gold;
}

/* Custom style */

input[type=text].new-name {
    color: rgba(0,0,0,0.5);
}

input[type=text].new-surname {
    color: rgba(0,0,0,0.5);
}

input[type=password].new-password {
    color: rgba(0,0,0,0.5);
}

input[type=text], .login, .password, .new-name, .new-surname, .new-password {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: gold;
    background-color: unset;
    background-repeat: no-repeat;
    outline: none;
    width: 100%;
    padding: 35px;
    box-sizing: border-box;
    cursor: url("../img/keybord.png"), auto;
}

p {
    color: goldenrod;
    font-family: "Press Start 2P", cursive;
    font-size: large;
}

::-moz-placeholder {
    color: goldenrod;
}

::-webkit-input-placeholder {
    color: goldenrod;
}

:-ms-input-placeholder {
    color: goldenrod;
}

.button {
    text-align: center;
    width: auto;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.page-not-found {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: darkgoldenrod;
    font-family: 'Press Start 2P', cursive;
}

/* Graphics */

/*.login {*/
    /*background-image: url(../img/login_2.png);*/
    /*background-position: center;*/
/*}*/

/*.password {*/
    /*background-image: url(../img/password_2.png);*/
    /*background-position: center;*/
/*}*/

.new-name {
    background-image: url(../img/name.png);
    background-position: center;
}

.new-surname {
    background-image: url(../img/surname.png);
    background-position: center;
}

.new-password {
    background-image: url(../img/password_button.png);
    background-position: center;
}

.submit-login {
    cursor: url("../img/keybord.png"), auto;
    width: 40%;
}

/* Positioning */

form, .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 15%;
    padding-left: 30%;
    padding-right: 30%;
}

.header-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exit {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

.page-not-found-header {
    padding-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
}

.page-not-found-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 30px;
}

.page-not-found-button {
    margin-top: 5vh;
    margin-right: 40vw;
    margin-left: 40vw;
}

.add-mentor-form {
    padding-top: 10%;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 5px;
    width: 100%;
}

.page-not-found-container {
    margin: 40vh 15vw 10vh;
}

/* Responsive elements */

.login:hover {
    background-image: none;
}

.password:hover {
    background-image: none;
}

.button:hover {
    background: darkgoldenrod;
}

.new-name:hover {
    background-image: none;
}

.new-surname:hover {
    background-image: none;
}

.new-password:hover {
    background-image: none;
}

a:hover {
    text-decoration: none;
}
