<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="page-not-found-container">
    <header  class="page-not-found page-not-found-header">
        <p>404 Page Not Found</p>
    </header>
    <div class="page-not-found page-not-found-info">
        <p>Sorry, but the page you were trying to view</p>
        <p>does not exist.</p>
    </div>
    <div class="page-not-found page-not-found-info">
        <p>Let's take you back to previous page</p>
        <a class="button page-not-found-button" href="login"><img src="assets/img/icon.png"></a>
    </div>
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
