<html class="no-js" lang="">
<head>
    <title>Admin Home</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="/assets/img/icon.png">
    <link rel="icon" href="icon.png">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">

</head>
<body>

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<!--<![endif]&ndash;&gt;-->

<audio autoplay>
    <source src="/assets/audio/Mario-coin-sound.mp3">
</audio>
<header>
    <div>
        <a class="exit" href="/assets/index.html"><img src="/assets/img/exit.png"></a>
    </div>
    <div class="header-main">
        <img src="/assets/img/header_main.png" alt="Codecool system">
    </div>
</header>

<main>
    <section>
        <nav>
            <div class="menu">
                <ul>
                    <li class="button"><a href="add_mentor.html"><img src="/assets/img/add_mentor.png"></a></li>
                    <!--<li class="button"><a href="create_group.ml"><img src="img/add_group.png"></a></li>-->
                    <li class="button"><a href="404.html"><img src="/assets/img/add_group.png"></a></li>
                    <!--<li class="button"><a href="assign_mentor.html"><img src="img/assign_mentor.png"></a></li>-->
                    <li class="button"><a href="404.html"><img src="/assets/img/assign_mentor.png"></a></li>
                    <li class="button"><a href="edit_mentor.html"><img src="/assets/img/edit_mentor.png"></a></li>
                    <!--<li class="button"><a href="display_user.html"><img src="img/view_mentor.png"></a></li>-->
                    <li class="button"><a href="404.html"><img src="/assets/img/view_mentor.png"></a></li>
                    <li class="button"><a href="404.html"><img src="/assets/img/create_xp_level.png"></a></li>
                    <!--<li class="button"><a href="create_xp_level.html"><img src="img/create_xp_level.png"></a></li>-->
                </ul>
            </div>
        </nav>
    </section>
</main>
<footer>
    <div class="footer">
        <img src="/assets/img/devteams.png">
        <img src="/assets/img/year.png">
    </div>
</footer>
</body>
</html>