<!doctype html>
<html class="no-js" lang="">
<head>
    <title>Admin Home</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="/assets/img/icon.png">
    <link rel="icon" href="icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">

</head>
<body>

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<!--<![endif]&ndash;&gt;-->

<audio autoplay>
    <source src="/assets/audio/Mario-coin-sound.mp3">
</audio>
<header>
    <div>
        <a class="exit" href="/assets/index.html"><img src="/assets/img/exit.png"></a>
    </div>
    <div class="header-main">
        <img src="/assets/img/header_main.png" alt="Codecool system">
    </div>
</header>

<main>
    <section>
        <nav>
            <div class="menu">
                <ul>
                    <li class="button"><a href="adminhome/addmentor"><img src="/assets/img/add_mentor.png"></a></li>
                    <!--<li class="button"><a href="create_group.ml"><img src="img/add_group.png"></a></li>-->
                    <li class="button"><a href="adminhome/addgroup"><img src="/assets/img/add_group.png"></a></li>
                    <!--<li class="button"><a href="assign_mentor.html"><img src="img/assign_mentor.png"></a></li>-->
                    <li class="button"><a href="adminhome/assignmentor"><img src="/assets/img/assign_mentor.png"></a></li>
                    <li class="button"><a href="edit_mentor.html"><img src="/assets/img/edit_mentor.png"></a></li>
                    <!--<li class="button"><a href="display_user.html"><img src="img/view_mentor.png"></a></li>-->
                    <li class="button"><a href="404.html"><img src="/assets/img/view_mentor.png"></a></li>
                    <li class="button"><a href="404.html"><img src="/assets/img/create_xp_level.png"></a></li>
                    <!--<li class="button"><a href="create_xp_level.html"><img src="img/create_xp_level.png"></a></li>-->
                </ul>
            </div>
        </nav>
    </section>
</main>
<footer>
    <div class="footer">
        <img src="/assets/img/devteams.png">
        <img src="/assets/img/year.png">
    </div>
</footer>
<!--<script src="js/vendor/modernizr-3.5.0.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->
<!--<script src="js/plugins.js"></script>-->
<!--<script src="js/main.js"></script>-->
<script>
    function play(){
        var audio = document.getElementsByTagName("audio")[0];
        audio.play();}
</script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
