<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="assets/imgicon.png">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

<header>
    <div class="headermain">
        <a href="login.html"><img src="assets/img/header_main.png" alt="Codecool system"></a>
    </div>
</header>

<form method="post">
        <input class="login" type="text" name="login" placeholder="login"><br>
        <input class="password" type="password" name="password" placeholder="password"><br>
        <input class="submit-login" type="image" src="assets/img/submit.png">
</form>

</body>
</html>