<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Admin Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

        <link rel="apple-touch-icon" href="assets/img/icon.png">
        <link rel="icon" href="assets/img/icon.png">
        <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <!--<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>-->
        <!--<![endif]&ndash;&gt;-->

        <!-- Add your site or application content here -->
    <header>
        <div>
            <a class="exit" href="login"><img src="assets/img/exit.png"></a>
        </div>
        <div class="header-main">
            <img src="assets/img/header_main.png" alt="Codecool system">
        </div>
    </header>
        <main>
            <section>
                <nav>
                    <div class="menu button-no-graphic">
                        <ul>
                            <li class="button"><a href="add_student.html">Create student</a></li>
                            <li class="button"><a href="assign_student.html">Assign student to group</a></li>
                            <li class="button"><a href="add_new_quest.html">Add new quest</a></li>
                            <li class="button"><a href="add_quest_category.html">Add quest category</a></li>
                            <li class="button"><a href="edit_quest.html">Edit quest</a></li>
                            <li class="button"><a href="add_artifact.html">Add artifact</a></li>
                            <li class="button"><a href="edit_artifact.html">Edit artifact</a></li>
                            <li class="button"><a href="mark_done-quests.html">Mark student's quests</a></li>
                            <li class="button"><a href="mark_used_artifacts.html">Mark student's artifact</a></li>
                        </ul>
                    </div>
                </nav>
            </section>
        </main>
        <footer>
            <div class="footer">
                <img src="assets/img/devteams.png">
                <img src="assets/img/year.png">
            </div>
        </footer>
        <!--<script src="js/vendor/modernizr-3.5.0.min.js"></script>-->
        <!--<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>-->
        <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->
        <!--<script src="js/plugins.js"></script>-->
        <!--<script src="js/main.js"></script>-->

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <!--<script>-->
            <!--window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;-->
            <!--ga('create','UA-XXXXX-Y','auto');ga('send','pageview')-->
        <!--</script>-->
        <!--<script src="https://www.google-analytics.com/analytics.js" async defer></script>-->
    </body>
</html>
